body {
}
/*Start Default Themes احمر*/

/*Active Link*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .gear-check {
    background-color: #E41B17;
}




    .navbar-inverse .navbar-brand span,
    .footer h3,
    .footer .copyright span,
    .statistics .stats:hover,
    .about h1 span,
    .testimonials span {
        color: #E41B17;
    }



.dropdown-menu {
    border-top: 3px solid #E41B17;
}

.price_table .price_box:hover p,
.option-box .color-option,
.testimonials .carousel-indicators li.active {
    border: 4px dashed #E41B17;
}

/*h1
{
    color: #E41B17;
}*/
/*.h1 {
    color: #E41B17;
}*/






/*End Default Themes*/